<!DOCTYPE html>
<html>
<head>
  <title>Thinqbtcms</title>
  <%= stylesheet_link_tag    "thinqbtcms/application", media: "all" %>
  <%= javascript_include_tag "thinqbtcms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
